{% extends 'layout.html' %}
{% load static %}
{% load sass_tags %}
{% load widget_tweaks %}

{% block head %}
<title>パスワード再設定</title>

<link rel="stylesheet" href="{% sass_src 'css/accounts/password_reset_form-confirm.scss' %}">
{% endblock %}

{% block contents %}
<div class="topimage">
    <div class="topimage_password-reset">
        <h3>パスワード再設定</h2>
        <div class="toast" style="opacity:1.0;display: inline-block;">
            <div class="toast-header">
                <img src="{% static 'img/icon_no-word.png' %}" class="rounded mr-2" style="height:50px;">
                <strong class="mr-auto">mincampアカウント</strong>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="toast-body">
                    <div class="col-auto">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-lock"></i></div>
                            </div>
                            {{form.new_password1}}
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-lock"></i></div>
                            </div>
                            {{form.new_password2}}
                        </div>
                    </div>
                </div>
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ form.new_password2.errors }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <button type="submit" class="btn-social-long mincamp login">
                    <img src="{% static 'img/icon_no-word.png' %}" style="width:20px;"> <span>パスワード再設定</span>
                </button>
            </form>
        </div><br>
    </div>
</div>
{% endblock %}