.contents{
    padding: 70px 5% 0;
    overflow: auto;
    background-color: #EDEDED;
    &_breadcrumbs{
        border: solid 1px #ccc;
        border-width: 1px 0;
        background-color: white;
        margin-bottom: 5px;
        ul{
            display: flex;
            width: 1000px;
            margin: 0 0 0 10px;
            padding: 0;
            .active a{
                color: #000;
                pointer-events: none;
                font-weight: bold;
            }
            li{
                list-style: none;
                font-size: 14px;
                height: 30px;
                line-height: 30px;
                margin-right: 35px;
                position: relative;
                &:before, &:after{
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    border-top: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-bottom: 15px solid transparent;
                }
                &:before{
                    right: -40px;
                    border-left: 15px solid #ccc;
                }
                &:after{
                    right: -39px;
                    border-left: 15px solid #fff;
                }
                a{
                    color: #42327F;
                    text-decoration: none;
                    &:hover{color: #606c76;}
                }
            }
        }
    }
    &_images{
        width: 100%;
        height: 325px;
        margin-bottom: 10px;
        display: flex;
        position: relative;
        &_main{
            width: 50%;
            height: 100%;
            margin: 0 10px 0 0;
            border-radius: 5px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            button{
                position: absolute;
                top: 5px;
                left: 5px;
                padding: 5px 10px;
                background: rgba(255,255,255,0.8);
                border: 1px solid #FF9933;
                border-radius: 3px;
                color: #FF9933;
                cursor: pointer;
                font-weight: bold;
                font-size: 0.8rem;
                outline: none;
            }
        }
        &_sub{
            width: 50%;
            height: 100%;
            &_image{
                width: 50%;
                height: 50%;
                float: left;
                &:nth-of-type(1){padding: 0 5px 5px 0;}
                &:nth-of-type(2){padding: 0 0 5px 5px;}
                &:nth-of-type(3){padding: 5px 5px 0 0;}
                &:nth-of-type(4){padding: 5px 0 0 5px;}
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
        }
    }
    &_main-info{
        width: 100%;
        height: 100%;
        display: flex;
        &_left{
            width: 70%;
            margin: 10px;
            padding: 10px 25px;
            border-radius: 10px;
            background-color: white;
            &_title{
                border-bottom: double 5px #FFC778;
                p{
                    margin: 0;
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }
            &_review{
                margin-bottom: 5px;
                &_rate{
                    position: relative;
                    display: inline-block;
                    width: 16px * 5;
                    height: 16px;
                    font-size: 16px;
                    &:before,&:after{
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: '★★★★★';
                        display: inline-block;
                        height: 16px;
                        line-height: 16px;
                    }
                    &:before{
                        color: #ddd;
                    }
                    &:after{
                        color: #ffa500;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
                .rate0:after{width: 0;}
                .rate1:after{width: 16px;}
                .rate1-5:after{width: 24px;}
                .rate2:after{width: 32px;}
                .rate2-5:after{width: 40px;}
                .rate3:after{width: 48px;}
                .rate3-5:after{width: 56px;}
                .rate4:after{width: 64px;}
                .rate4-5:after{width: 72px;}
                .rate5:after{width: 80px;}
            }
            &_tag{
                // margin-bottom: 10px;
            }
            &_facility{
                width: 100%;
                p{
                    margin: 0;
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                ul{
                    list-style: none;
                    padding: 0;
                    display: flex;
                    flex-wrap: wrap;
                    li{
                        width: 100px;
                        height: 80px;
                        padding: 0 5px;
                        margin: 0 10px 10px 0;
                        border-radius: 10px;
                        background-color: white;
                        border: 1px solid gray;
                        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .5);
                        .title{
                            text-align: center;
                            line-height: 20px;
                            font-size: 10px;
                            margin: 0;
                        }
                        .image{
                            width: 100%;
                            height: 60px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
            &_option{
                width: 100%;
                p{
                    margin: 0;
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                &_block{
                    display: flex;
                    flex-wrap: wrap;
                    .card.mb-3{
                        width: 45%;
                        margin-right: 5%;
                        .card-body{
                            padding: 0.8rem;
                            .card-button{
                                display: flex;
                                justify-content: space-between;
                            }
                        }
                    }
                }
            }
            &_rental{
                width: 100%;
                p{
                    margin: 0;
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                
            }
            &_host{
                width: 100%;
                p{
                    margin: 0;
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                &_info{
                      
                      header {
                        box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
                        margin:   0 auto;
                        height:   200px;
                        position: relative;
                        width:    100%;
                      }
                      
                      figure.profile-banner {
                        left:     0;
                        overflow: hidden;
                        position: absolute;
                        top:      0;
                        z-index:  1;
                        width: 100%;
                      }
                      
                      figure.profile-picture {
                        background-position: center center;
                        background-size: cover;
                        border: 5px #efefef solid;
                        border-radius: 50%;
                        top: 35px;
                        box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2), 1px 1px 4px rgba(0,0,0,0.3);
                        height: 140px;
                        left: 20px;
                        position: absolute;
                        width: 140px;
                        z-index: 3;
                      }
                      
                      div.profile-stats {
                        bottom: 0;
                        border-top: 1px solid rgba(0,0,0,0.5);
                        left: 0;
                        padding: 15px 15px 15px 200px;
                        position: absolute;
                        right: 0;
                        z-index: 2;
                        
                        /* Generated Gradient */
                        background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(0,0,0,0.51) 3%, rgba(0,0,0,0.75) 61%, rgba(0,0,0,0.5) 100%);
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(3%,rgba(0,0,0,0.51)), color-stop(61%,rgba(0,0,0,0.75)), color-stop(100%,rgba(0,0,0,0.5)));
                        background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(0,0,0,0.51) 3%,rgba(0,0,0,0.75) 61%,rgba(0,0,0,0.5) 100%);
                       background: -o-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(0,0,0,0.51) 3%,rgba(0,0,0,0.75) 61%,rgba(0,0,0,0.5) 100%);
                        background: -ms-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(0,0,0,0.51) 3%,rgba(0,0,0,0.75) 61%,rgba(0,0,0,0.5) 100%);
                        background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(0,0,0,0.51) 3%,rgba(0,0,0,0.75) 61%,rgba(0,0,0,0.5) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80000000',GradientType=0 );
                      
                      }
                      
                      div.profile-stats ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                      }
                      
                      div.profile-stats ul li {
                        color: #efefef;
                        display: block;
                        float: left;
                        font-size: 24px;
                        font-weight: bold;
                        margin-right: 50px;
                        text-shadow: 1px 1px 2px rgba(0,0,0,0.7)
                      }
                      
                      div.profile-stats li span {
                        display: block;
                        font-size: 16px;
                        font-weight: normal;
                      }
                      
                      div.profile-stats a.follow {
                        display: block;
                        float: right;color: #ffffff;
                        // margin-top: 5px;
                        text-decoration: none;
                        
                        /* This is a copy and paste from Bootstrap */
                        background-color: #49afcd;
                        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
                        background-color: #49afcd;
                        background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
                        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
                        background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
                        background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
                        background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
                        background-repeat: repeat-x;
                        border-color: #2f96b4 #2f96b4 #1f6377;
                        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
                        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
                        display: inline-block;
                        padding: 4px 20px;
                        margin-bottom: 0;
                        font-size: 20px;
                        line-height: 50px;
                        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
                        border-radius: 4px;
                      }
                      
                      div.profile-stats a.follow.followed {
                        
                        /* Once again copied from Boostrap */
                        color: #ffffff;
                        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
                        background-color: #5bb75b;
                        background-image: -moz-linear-gradient(top, #62c462, #51a351);
                        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
                        background-image: -webkit-linear-gradient(top, #62c462, #51a351);
                        background-image: -o-linear-gradient(top, #62c462, #51a351);
                        background-image: linear-gradient(to bottom, #62c462, #51a351);
                        background-repeat: repeat-x;
                        border-color: #51a351 #51a351 #387038;
                        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
                        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
                      }
                      
                      header>h1 {
                        // bottom: -50px;
                        color: #354B63;
                        font-size: 40px;
                        left: 200px;
                        top: 60px;
                        position: absolute;
                        z-index: 5;
                        span{font-size: 0.5em;}
                      }                      
                }
            }
        }
        &_right{
            width: 30%;
            margin: 10px;
            &_booking{
                width: 100%;
                padding: 15px;
                border-radius: 10px;
                background-color: white;
                margin-bottom: 10px;
                box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
                &_price-then{
                    width: 100%;
                    .old-price{text-decoration: line-through;}
                    span{
                        color: #6C757D;
                        margin-right: 10px;
                    }
                    h4{
                        font-weight: 700;
                        display: inline-block;
                        margin: 0;
                    }
                }
                &_date{
                    margin-top: 25px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    &-start,&-end{
                        width: 45%;
                        position: relative;
                        label {
                            position: absolute;
                            top: 7px;
                            font: 400 15px Roboto;
                            color: #FF9933;
                            cursor: text;
                            transition: .2s;
                        }
                        input {
                            background: linear-gradient(to bottom, transparent 92%, #FF9933 8%) no-repeat;
                            background-position: -700px 0;
                            background-size: 700px 100%;
                            display: block;
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: solid 1px #FF9933;
                            font-size: 1.0rem;
                            transition: all 0.3s;
                            &:focus, &:valid {
                            background-position: right;
                            outline: none;
                            color: #5f5f5f;
                                ~label {
                                    top: -12px;
                                    color: #FF9933;
                                    font: 700 12px Roboto;
                                }
                            }
                        }
                    }
                }
                &_members{
                    margin-top: 25px;
                    position: relative;
                    label {
                        position: absolute;
                        top: 7px;
                        font: 400 15px Roboto;
                        color: #FF9933;
                        cursor: text;
                        transition: .2s;
                    }
                    input {
                        background: linear-gradient(to bottom, transparent 92%, #FF9933 8%) no-repeat;
                        background-position: -700px 0;
                        background-size: 700px 100%;
                        display: block;
                        width: 100%;
                        padding: 5px;
                        border: none;
                        border-bottom: solid 1px #FF9933;
                        font-size: 1.0rem;
                        transition: all 0.3s;
                        &:focus, &:valid {
                        background-position: right;
                        outline: none;
                        color: #5f5f5f;
                            ~label {
                                top: -12px;
                                color: #FF9933;
                                font: 700 12px Roboto;
                            }
                        }
                    }
                }
                &_price-total{
                    margin-top: 25px;
                    padding-bottom: 5px;
                    .normal,.discount,.sub-total,.all-total{
                        margin-bottom: 5px;
                        display: flex;
                        justify-content: space-between;
                        font-size: 1.0rem;
                        color: gray;
                    }
                    .normal{color: gray;}
                    .discount{
                        color: #FF8C00;
                        background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    .sub-total{color: black;}
                    .all-total{
                        color: black;
                        font-weight: bold;
                        font-size: 1.2rem;
                    }
                    hr{margin: 0.5rem 0;}
                }
                &_button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 10px;
                    button {
                        margin: 0 auto;
                        width: 80%;
                        background: #FF9933;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        border: none;
                        border-radius: 5px;
                        color: white;
                        cursor: pointer;
                        font-weight: bold;
                    }
                }
                &_message{
                    width: 100%;
                    text-align: center;
                    p{
                        font-size: 0.8rem;
                        margin: 0;
                    }
                }
            }
            &_map{
                width: 100%;
                height: 200px;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
                iframe{
                    width: 100%;
                    height: 100%;
                    border: none;
                }
            }
        }
    }
    &_activity{
        width: 100%;
        margin: 10px;
        padding: 10px 25px;
        border-radius: 10px;
        background-color: white;
        h1{
            margin: 0;
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 5px;
        }
    }
    &_tabs{
        width: 100%;
        margin: 10px;
        padding: 10px 25px;
        border-radius: 10px;
        background-color: white;
    }
    &_aria{
        width: 100%;
        margin: 10px;
        padding: 10px 25px;
        border-radius: 10px;
        background-color: white;
        h1{
            margin: 0;
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 5px;
        }
    }
}