.contents{
  padding: 70px 5% 0;
  background-color: #EDEDED;
  &_top{
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: space-between;
    &_left{
      width: 75%;
      height: 100%;
      &_slide-images{
        width: 100%;
        height: 375px;
        background-color: gray;
        #carouselExampleIndicators{
          height:100%;
          .carousel-inner{
            height:100%;
            .carousel-item{
              height:100%;
              img{
                width: 100%;
                height:100%;
                object-fit: cover;
              }
            }
          }
        }
      }
      &_search{
        width: 100%;
        height: 100px;
        margin-top: 5px;
        padding: 5px;
        border-radius: 15px;
        background-color: white;
        &_upper{
          width: 100%;
          height: 50%;
          display: flex;
          justify-content: space-between;
          &_place{width: 45%;}
          &_date{width: 25%;}
          &_member{width: 25%;}
          &_place,&_date,&_member{
            margin-top: 10px;
            position: relative;
            label {
              position: absolute;
              top: 7px;
              font: 400 15px Roboto;
              color: #FF9933;
              cursor: text;
              transition: .2s;
            }
            input {
              background: linear-gradient(to bottom, transparent 92%, #FF9933 8%) no-repeat;
              background-position: -700px 0;
              background-size: 700px 100%;
              display: block;
              width: 100%;
              padding: 5px 0;
              border: none;
              border-bottom: solid 1px #FF9933;
              font-size: 15px;
              transition: all 0.3s;
              &:focus, &:valid {
                background-position: right;
                outline: none;
                ~label {
                  top: -12px;
                  color: #FF9933;
                  font: 700 12px Roboto;
                }
              }
            }
          }
        }
        &_beneath{
          width: 100%;
          height: 50%;
          display: flex;
          justify-content: space-between;
          &_checkbox{
            width: 50%;
            height: 100%;
          }
          &_submit{
            width: 25%;
            button {
              width: 100%;
              height: 100%;
              background: #FF9933;
              border: none;
              border-radius: 3px;
              color: white;
              cursor: pointer;
              transition: all 0.3s ease-in-out;
              &:hover {font-weight: bold;}
            }
          }
        }
      }
    }
    &_right{
      width: 23%;
      height: 100%;
      border-radius: 15px;
      padding: 10px;
      background-color: white;
      &_user-icon{
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        &_main{
          width: 100px;
          height: 100px;
          background-color: #cccccc;
          border-radius: 50px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            width: 90%;
            height: 90%;
            border-radius: 50%;
          }
        }
      }
      &_title{
        width: 100%;
        height: 10%;
        text-align: center;
        font-size: 1.5em;
        strong{color: #301E72;}
      }
      &_menu{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 5%;
        &_mypage{width: 90%;}
        &_signup,&_signin{width: 45%;}
        &_signup,&_signin,&_mypage{
          position: relative;
          overflow: hidden;
          height: 100%;
          border-radius: 15px;
          a{
            overflow: hidden;
            color: #fff;
            border-radius: 0;
            background: #ea8b4a;
            text-decoration: none;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            &:before {
              position: absolute;
              top: 0;
              left: 0;
              width: 100px;
              height: 100px;
              content: '';
              -webkit-transition: all .5s ease-in-out;
              transition: all .5s ease-in-out;
              -webkit-transform: translateX(-80%) translateY(-25px);
              transform: translateX(-80%) translateY(-25px);
              border-radius: 50%;
              background: #eb6100;
            }
            &:hover:before {
              width: 400px;
              height: 400px;
              -webkit-transform: translateX(-1%) translateY(-175px);
              transform: translateX(-1%) translateY(-175px);
            }
            span {position: relative;}
          }
        }
      }
      &_info{
        width: 100%;
        height: 50%;
        background-image: url(/static/img/toppage.jpg);
        background-size: cover;
        border-radius: 10px;
        position: relative;
        &_cover{
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          background-color: white;
          opacity: 0.6;
        }
        &_coupon{
          padding: 10px;
          .btn,a.btn,button.btn {
            position: relative;
            display: inline-block;
            padding: 1rem 4rem;
            cursor: pointer;
            -webkit-user-select: none;
            user-select: none;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            text-align: center;
            vertical-align: middle;
            text-decoration: none;
            color: #212529;
            border-radius: 0.5rem;
          }
          a.btn-coupon {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            padding: 0;
            color: #fa4141;
            border-radius: 0;
            .left {
              line-height: 1;
              width: 35%;
              padding: 1rem 0;
              -webkit-transition: all 0.3s;
              transition: all 0.3s;
              color: #fff;
              border-right: 2px dashed #fff;
              background: #df302d;
              span {
                font-size: 2rem;
                color: #fff100;
              }
            }
            .right {
              color: #df302d;
              background: #fcb6a6;
              flex: 1;
              span {
                font-size: 0.5rem;
                display: inline-block;
                padding: 0.2rem 1rem;
                color: #fff;
                border-radius: 100vh;
                background: #df302d;
              }
            }
          }
        }
        &_mincamp{
          padding: 10px;
          .btn,a.btn,button.btn {
            font-weight: 700;
            position: relative;
            display: inline-block;
            cursor: pointer;
            -webkit-user-select: none;
            user-select: none;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            text-align: center;
            vertical-align: middle;
            text-decoration: none;
            letter-spacing: 0.1em;
            color: #212529;
            border-radius: 0.5rem;
          }
          a.btn-c {
            position: relative;
            width: 100%;
            color: #fff;
            background: #32b16c;
            -webkit-box-shadow: 0 5px 0 #2c9d60;
            box-shadow: 0 5px 0 #2c9d60;
          }
          a.btn-c span {
            position: absolute;
            top: -10px;
            display: block;
            padding: 0.2rem 0.5rem;
            color: #32b16c;
            border: 2px solid #32b16c;
            border-radius: 0.5rem;
            background: #fff;
            -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          }
          a.btn-c:hover {
            -webkit-transform: translate(0, 3px);
            transform: translate(0, 3px);
            color: #fff;
            background: #30a967;
            -webkit-box-shadow: 0 2px 0 #2c9d60;
            box-shadow: 0 2px 0 #2c9d60;
          }
          a.btn-c:hover:before {
            left: 2rem;
          }
        }
        &_media{
          padding: 0 10px;
          height: 35px;
          #social-container {
            width: 100%;
            background: rgba(255,255,255,0.1);
            text-align: center;
            display: block;
            .social-button {
              color: white;
              display: inline-block;
              padding: 5px;
              vertical-align: middle;
              text-align: center;
              min-width: 38px;
              width: 38px;
              height: 38px;
              position: relative;
              line-height: 28px;
              overflow: hidden;
              white-space: nowrap;
              transition: width 300ms ease;
              -webkit-transition: width 300ms ease;
              i {
                vertical-align: middle;
                position: relative;
                width: 28px;
                height: 28px;
                line-height: 28px;
              }
              span {
                display: inline-block;
                font-family: Geneva, Helvetica, sans-serif;
                font-size: 16px;
                vertical-align: middle;
                position: relative;
                margin-left: 5px;
                margin-right: 5px;
                transition: width 300ms ease;
              }
              &.fb {background: #3b5998;}
              &.tw {background: #55acee;}
              &.ig {background: #125688;}
            }
          }
        }
      }
    }
  }
  &_category{
    width: 100%;
    height: 185px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: white;
    &_title{
      line-height: 35px;
      margin: 0;
      padding-left: 5px;
      span{font-weight: bold;}
      a{font-size: 0.8rem;}
    }
    &_slide{
      width: 100%;
      height: 150px;
      .swiper-container {
        width: 100%;
        height: 100%;
        .swiper-slide{
          .image{
            height: 75%;
            width: 80%;
            margin: 0 auto;
            border-radius: 50%;
            background-color: #EBECEE;
            display: flex;
            justify-content: center;
            align-items: center;
            &_center{
              height: 90%;
              width: 90%;
              margin: 0 auto;
              border-radius: 50%;
              background-color: white;
              overflow: hidden;
              transition: 0.3s;
              &:hover{
                height: 100%;
                width: 100%;
              }
              img{
                width: 100%;
                height: 100%;
              }
            }
          }
          .name{
            height: 25%;
            width: 100%;
            text-align: center;
            font-size: 1rem;
          }
        }
        [class^=swiper-button-]{
          background-color: #EDEDED;
          opacity: 0.7;
          color: silver;
          border-radius: 5px;
          transition: 0.3s;
          &:hover{opacity: 1.0;}
          &:after{font-size: 1.0rem;}
        }
      }
    }
  }
  &_overview{
    margin-top: 10px;
    padding: 10px 5% 0;
    height: 700px;
    background-color: black;
    border-radius: 10px;
    &_title,&_description{color: white;}
    &_left{
      height:570px;
      width: 50%;
      float: left;
      margin-right: 5%;
      .col.mb-4{height: 100%;.row.row-cols-1{height: 100%;.card{height: 100%;img{height: 100%;object-fit: cover;}}}
      }
    }
    &_right{
      width: 45%;
      height:570px;
      float: left;
      &_top{
        height: 50%;
        margin-bottom: 5%;
        .card{
          height: 100%;
          img{
            height: 100%;
            object-fit: cover;
          }
        }
      }
      &_bottom{
        height: 45%;
        .modal-dialog{
          max-width: none;
          width: 65vw;
        }
      }
    }
  }
  &_speed-search{
    margin-top: 10px;
    padding: 0 10%;
    color: white;
    .card.bg-dark.text-center {
      img{
        height: 500px;
        object-fit: cover;
      }
      .card-img-overlay{
        background-color: rgba(0,0,0,0.5);
        hr{
          height: 5px;
          background: linear-gradient(-135deg, #E4A972, #9941D8);
          width: 70%;
          border: none;
        }
      }
    }
  }
  &_become-host{
    margin-top: 10px;
    .card.bg-dark{
      img{
        height: 500px;
        object-fit: cover;
      }
    }
  }
  &_popular{
    margin-top: 10px;
    padding: 10px 5%;
    border-radius: 10px;
    overflow: auto;
    background-color: black;
    %transition_all_03s {
      transition:all .3s ease;
    }
    %backface_visibility_hidden{
      backface-visibility:hidden;
      -webkit-backface-visibility:hidden;
    }
    *, *:before, *:after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 80%;
      height: 500px;
      float:left;
      transition:opacity .6s ease, transform .3s ease;
      &.nav-slider{
        width:20%;
        padding-left:5px;
        .swiper-slide{
          cursor:pointer;
          opacity:.4;
          transition:opacity .3s ease;
          &.swiper-slide-active{
            opacity:1;
          }
          .content{
            width:100%;
            .title{
              font-size:20px;
            }
          }
        }
      }
      &:hover{
        .swiper-button-prev,
        .swiper-button-next{
          transform:translateX(0);
          opacity:1;
          visibility:visible;
        }
      }
      &.loading{
        opacity:0;
        visibility:hidden;
      }
      .swiper-slide{
        overflow: hidden;
        @extend %backface_visibility_hidden;
        .slide-bgimg{
          position:absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
          background-position:center;
          background-size:cover;
        }
        .entity-img{
          display:none;
        }
        .content{
          position:absolute;
          top:40%;
          left:0;
          width:50%;
          padding-left:5%;
          color:#fff;
          .title{
            font-size:2.6em;
            font-weight:bold;
            margin-bottom:30px;
          }
          .caption{
            display:block;
            font-size:13px;
            line-height:1.4;
            transform:translateX(50px);
            opacity:0;
            transition:opacity .3s ease, transform .7s ease;
            &.show{
              transform:translateX(0);
              opacity:1;
            }
          }
          .btn-gradation {
            display: inline-block;
            width: 180px;
            text-align: center;
            font-size: 16px;
            color: #FFF;
            text-decoration: none;
            font-weight: bold;
            padding: 12px 24px;
            border-radius: 4px;
            background-image: linear-gradient(-90deg, #FF006E, #FFD500);
            transition: .5s;
            background-size: 200%;
            opacity:0;
            transition:opacity .3s ease, transform .7s ease;
            &.show{
              transform:translateX(0);
              opacity:1;
            }
            &:hover {background-position: right center;}
          }
        }
      }
      [class^="swiper-button-"]{
        width:44px;
        opacity:0;
        visibility:hidden;
        @extend %transition_all_03s;
      }
      .swiper-button-prev{
        transform:translateX(50px);
      }
      .swiper-button-next{
        transform:translateX(-50px);
      }
    }
  }
  &_places{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    &_maps{
      ul{
          padding: 0px;
          background: transparent url(/static/img/jp.png) top left no-repeat;
          width: 600px;
          height: 400px;
          position: relative;
          li {
              margin: 0px;
              padding: 0px;
              position: absolute;
              list-style: none;
              font-size: 14px;
              a {
                  position: absolute;
                  span {display: none;}
              }
          }
          // 北海道
          #hokkaido {
              top: 0px;
              left: 333px;
              a {
                  width: 300px;
                  height: 131px;
                  &:hover {background: url(/static/img/jp.png) -333px -400px no-repeat;}
              }
          }
          // 東北
          #touhoku {
              top: 128px;
              left: 253px;
              a {
                  width: 180px;
                  height: 145px;
                  &:hover {background: transparent url(/static/img/jp.png) -253px -928px no-repeat;}
              }
          }
          // 北陸・甲信越
          #hokuriku {
              top: 208px;
              left: 202px;
              a {
                  width: 128px;
                  height: 95px;
                  &:hover {background: transparent url(/static/img/jp.png) -202px -1408px no-repeat;}
              }
          }
          // 関東
          #kanto {
              top: 252px;
              left: 280px;
              a {
                  width: 68px;
                  height: 148px;
                  &:hover {background: transparent url(/static/img/jp.png) -280px -1852px no-repeat;}
              }
          }
          // 東海
          #tokai {
              top: 260px;
              left: 202px;
              a {
                  width: 88px;
                  height: 100px;
                  &:hover {background: transparent url(/static/img/jp.png) -202px -2260px no-repeat;}
              }
          }
          // 関西
          #kansai {
              top: 261px;
              left: 171px;
              a {
                  width: 62px;
                  height: 87px;
                  &:hover {background: transparent url(/static/img/jp.png) -171px -2661px no-repeat;}
              }
          }
          // 中国
          #chugoku {
              top: 235px;
              left: 85px;
              a {
                  width: 100px;
                  height: 75px;
                  &:hover {background: transparent url(/static/img/jp.png) -85px -3035px no-repeat;}
              }
          }
          // 四国
          #shikoku {
              top: 300px;
              left: 107px;
              a {
                  width: 75px;
                  height: 50px;
                  &:hover {background: transparent url(/static/img/jp.png) -107px -3500px no-repeat;}
              }
          }
          // 九州
          #kyushu {
              top: 265px;
              left: 24px;
              a {
                  width: 88px;
                  height: 135px;
                  &:hover {background: transparent url(/static/img/jp.png) -24px -3865px no-repeat;}
              }
          }
          // 沖縄
          #okinawa {
              top: 0px;
              left: 0px;
              a {
                  width: 298px;
                  height: 155px;
                  &:hover {background: transparent url(/static/img/jp.png) 0px -4000px no-repeat;}
              }
          }
      }
      iframe{
          width: 600px;
          height: 480px;
      }
    }
    &_menus{
      width: 45%;
      ul li{
          width: 50%;
          float: left;
          a{
              color:#333333;
              text-decoration: underline;
              &:hover{opacity: 0.6;}
          }
      }
    }
  }
  &_app{
    margin-top: 20px;
    padding: 0 10% 20px;
    .card{
      border-radius: 6.25rem;
      &-header{background-color: #FF9933;}
    }
  }
}