.topimage{
    width: 100%;
    height: auto!important;
    background-image: url(/static/img/toppage.jpg);
    &_password-reset{
        padding:80px 10%;
        text-align: center;
        background-color: rgba(255,255,255,0.4);
        .toast {
            min-width: 700px;
            &-body{padding-bottom: 0.25rem;}
            .btn-social-long {
                color: #FFF;
                border-radius: 7px;
                display: inline-block;
                height: 50px;
                width: 400px;
                padding: 0 10px;
                text-align: center;
                line-height: 50px;
                overflow: hidden;
                text-decoration:none;
                border: none;
                margin-bottom: 10px;
            }
            .btn-social-long.mincamp{background: linear-gradient(-90deg, #FF006E, #FFD500);}
        }
    }
}
