.topimage{
    width: 100%;
    height: auto!important;
    background-image: url(/static/img/toppage.jpg);
    &_sign-up-done{
        padding:80px 10%;
        background-color: rgba(255,255,255,0.4);
        .card .card-body .row .col-sm-6{margin-bottom: 10px;}
    }
}