{% extends 'layout.html' %}
{% load static %}
{% load sass_tags %}

{% block head %}
<title>検索結果</title>
{% comment %} flatpicker読み込み {% endcomment %}   
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/confetti.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% comment %} IZIMODAL読み込み {% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/js/iziModal.min.js"></script>

<link rel="stylesheet" href="{% sass_src 'css/camp/detail.scss' %}">
<script type="text/javascript" src="{% static 'js/camp/detail.js' %}"></script>
{% endblock %}

{% block contents %}
<div class="contents">
    <div class="contents_breadcrumbs">
        <nav>
            <ul>
                <li><a href="/"><i class="fas fa-home"></i>ホーム</a></li>
                <li><a href="/camp/search">検索結果</a></li>
                <li class="active"><a href="#">エアストリームやカフェもあるオシャレ空間で自然を堪能しましょう！</a></li>
            </ul>
        </nav>
    </div>
    <div class="contents_images">
        <div class="contents_images_main">
            <img src="https://mincamp.jp/img/%E3%80%90%E3%82%88%E3%81%AA%E3%81%84%E3%81%95%E3%82%93%E6%A7%98%E3%80%91%E2%91%A0.jpg">
            <button data-izimodal-open=".host-images"><i class="far fa-images"></i>&nbsp;&nbsp;全て表示</button>
            <div class="host-images" data-izimodal-title="グループの1つ目のコンテンツです" data-izimodal-subtitle="直立。※ヘッダータイトル下部説明文">
                <figure style="margin:0;">
                    <img src="https://mincamp.jp/img/%E3%80%90%E3%82%88%E3%81%AA%E3%81%84%E3%81%95%E3%82%93%E6%A7%98%E3%80%91%E2%91%A0.jpg" width="100%" height="100%"/>
                </figure>
            </div>
            <div class="host-images" data-izimodal-title="グループの2つ目のコンテンツです" data-izimodal-subtitle="直立。※ヘッダータイトル下部説明文">
                <figure style="margin:0;">
                    <img src="https://a0.muscache.com/im/pictures/a1115318-6331-4f65-96a5-d6a640c1a030.jpg?aki_policy=xx_large" width="100%" height="100%"/>
                </figure>
            </div>
            <div class="host-images" data-izimodal-title="グループの3つ目のコンテンツです" data-izimodal-subtitle="直立。※ヘッダータイトル下部説明文">
                <figure style="margin:0;">
                    <img src="https://a0.muscache.com/im/pictures/f765d77f-f4da-4fa1-a2dd-009ce0c56f3b.jpg?aki_policy=x_large" width="100%" height="100%"/>
                </figure>
            </div>
        </div>
        <div class="contents_images_sub">
            <div class="contents_images_sub_image">
                <img src="https://mincamp.jp/img/%E3%80%90%E3%82%88%E3%81%AA%E3%81%84%E3%81%95%E3%82%93%E6%A7%98%E3%80%91%E2%91%A3.jpg"/>
            </div>
            <div class="contents_images_sub_image">
                <img src="https://mincamp.jp/img/%E3%80%90%E3%82%88%E3%81%AA%E3%81%84%E3%81%95%E3%82%93%E6%A7%98%E3%80%91%E2%91%A2.jpg"/>
            </div>
            <div class="contents_images_sub_image">
                <img src="https://mincamp.jp/img/%E3%80%90%E3%82%88%E3%81%AA%E3%81%84%E3%81%95%E3%82%93%E6%A7%98%E3%80%91%E2%91%A0.jpg"/>
            </div>
            <div class="contents_images_sub_image">
                <img src="https://mincamp.jp/img/%E3%80%90%E3%82%88%E3%81%AA%E3%81%84%E3%81%95%E3%82%93%E6%A7%98%E3%80%91%E2%91%A0.jpg">
            </div>
        </div>
    </div>
    <div class="contents_main-info">
        <div class="contents_main-info_left">

        </div>
        <div class="contents_main-info_right">
            <div class="contents_main-info_right_booking">
                <div class="contents_main-info_right_booking_price-then">
                    <span class="old-price">¥ 6,500</span><h4>¥ 5,000</h4><span>/時間</span>
                </div>
                <div class="contents_main-info_right_booking_date">
                    <div class="contents_main-info_right_booking_date-start">
                        <input type="text" id="start-date" required="required" value="7月1日18時00分"/>
                        <label for="start-date">開始日時</label>
                    </div>
                    <span style="display: flex;align-items: center;"><i class="fas fa-angle-double-right"></i></span>
                    <div class="contents_main-info_right_booking_date-end">
                        <input type="text" id="end-date" required="required" value="7月2日09時00分"/>
                        <label for="end-date">終了日時</label>
                    </div>
                </div>
                <div class="contents_main-info_right_booking_members">
                    <input type="text" id="members" required="required" value="大人２名 子供３名"/>
                    <label for="members">利用人数</label>
                </div>
                <div class="contents_main-info_right_booking_price-total">
                    <p class="normal"><span>利用料金（¥ 2,000 x 5H）</span><span>¥ 10,000</span></p>
                    <p class="normal"><span>オプション料金&nbsp;<i class="fas fa-info-circle"></i></span><span>¥ 5,000</span></p>
                    <p class="discount"><span>10% クーポン割引</span><span>-¥ 1,500</span></p>
                    <p class="discount"><span>宿泊割引</span><span>-¥ 1,000</span></p>
                    <hr>
                    <p class="sub-total"><span>小計&nbsp;<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="税及びサービス料を含みません。税は小計の10%、サービス料は利用料金の10%となります。）"></i></span><span>¥ 12,500</span></p>
                    <p class="all-total"><span>合計</span><span>¥ 14,750</span></p>
                </div>
                <div class="contents_main-info_right_booking_button">
                    <button>予約へ進む</button>
                </div>
                <div class="contents_main-info_right_booking_step-bar">

                    

                </div>
            </div>
            <div class="contents_main-info_right_map">

            </div>
        </div>
    </div>
    
</div>
{% endblock %}