{% extends 'layout.html' %}
{% load static %}
{% load sass_tags %}

{% block head %}
<title>mincamp</title>
{% comment %} flatpicker読み込み {% endcomment %}   
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/confetti.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% comment %} swiper読み込み {% endcomment %} 
<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
<script src="https://unpkg.com/swiper/js/swiper.js"></script>

<link rel="stylesheet" href="{% sass_src 'css/camp/search.scss' %}">
<script type="text/javascript" src="{% static 'js/camp/search.js' %}"></script>
{% endblock %}

{% block contents %}
{% endblock %}